body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1C182D;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    background-color: #127FA7;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #E8B092;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #2C283D; /* Adding a darker background for better contrast */
}

table, th, td {
    border: 1px solid #E8B092;
}

th, td {
    padding: 10px;
    text-align: left;
    color: #E8B092; /* Adjusting font color for better readability */
}

button {
    padding: 10px 15px;
    background-color: #127FA7;
    color: #E8B092;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #E8B092;
    color: #127FA7;
}
